In [2]:
import pandas as pd
df = pd.read_csv('Flavors.csv')
df

,Flavor,Base Flavor,Liked,Flavor Rating,Texture Rating,Total Rating
0,Mint Chocolate Chip,Vanilla,Yes,10.0,8.0,18.0
1,Chocolate,Chocolate,Yes,8.8,7.6,16.6
2,Vanilla,Vanilla,No,4.7,5.0,9.7
3,Cookie Dough,Vanilla,Yes,6.9,6.5,13.4
4,Rocky Road,Chocolate,Yes,8.2,7.0,15.2
5,Pistachio,Vanilla,No,2.3,3.4,5.7
6,Cake Batter,Vanilla,Yes,6.5,6.0,12.5
7,Neapolitan,Vanilla,No,3.8,5.0,8.8
8,Chocolte Fudge Brownie,Chocolate,Yes,8.2,7.1,15.3

In [7]:
df2 = df.groupby('Base Flavor')
df2.mean()

             Flavor Rating  Texture Rating  Total Rating
Base Flavor
Chocolate              8.4        7.233333         15.70
Vanilla                5.7        5.650000         11.35

In [10]:
#df2.sum()
df.groupby('Base Flavor').agg({'Flavor Rating':['sum','count','mean','max'],
                               'Texture Rating':['sum','count','mean','max']})

            Flavor Rating                  Texture Rating
                      sum count mean   max            sum count      mean  max
Base Flavor
Chocolate            25.2     3  8.4   8.8           21.7     3  7.233333  7.6
Vanilla              34.2     6  5.7  10.0           33.9     6  5.650000  8.0

In [12]:
#df2.sum()
df.groupby(['Base Flavor','Liked']).agg({'Flavor Rating':['sum','count','mean','max']})

                  Flavor Rating
                            sum count mean   max
Base Flavor Liked
Chocolate   Yes            25.2     3  8.4   8.8
Vanilla     No             10.8     3  3.6   4.7
            Yes            23.4     3  7.8  10.0

In [13]:
df.describe()

       Flavor Rating  Texture Rating  Total Rating
count         9.0000        9.000000      9.000000
mean          6.6000        6.177778     12.800000
std           2.5387        1.478832      4.030509
min           2.3000        3.400000      5.700000
25%           4.7000        5.000000      9.700000
50%           6.9000        6.500000     13.400000
75%           8.2000        7.100000     15.300000
max          10.0000        8.000000     18.000000